  
#usr, #pwd {
    height: 100%;
    border-top: 0px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.forgot {
    text-decoration: none; 
    text-align: center;
    font-size: 80%;
}

.forgot1 {
    text-decoration: none; 
    text-align: center;
    font-size: 80%;
}

.forgot-color {
    text-decoration: none;
    font-weight: 550; 
    color: rgb(0, 126, 131);
}

#login-button {
    background-color: rgb(0, 126, 131);
    border: none;
    border-radius: 50px;
}